<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
    <a href="/" class="back-btn">← Back</a>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container admin-container">

    <h1>Admin Dashboard</h1>

    <table border="1" width="100%">

        <tr>
            <th>Complaint_ID</th>
            <th>DEPT_ID</th>
            <th>Title</th>
            <th>Priority</th>
            <th>Status</th>
        </tr>

        {% for complaint in complaints %}

        <tr>

            <td>{{ complaint[0] }}</td>
            <td>{{ complaint[1] }}</td>
            <td>{{ complaint[2] }}</td>
            <td>{{ complaint[3] }}</td>
            <td>{{ complaint[4] }}</td>

        </tr>

        {% endfor %}

    </table>

</div>

</body>
</html>