<!DOCTYPE html>
<html>

<head>
    <title>Submit Complaint</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>Submit Complaint</h1>

    <form method="POST" action="/submit_complaint">

        <label>Complaint Title</label>

        <input
            type="text"
            name="title"
            placeholder="Enter Complaint Title"
        >

        <label>Description</label>

        <textarea
            name="description"
            placeholder="Enter Complaint Description"
        ></textarea>


        <label>Department</label>

        <select name="dept_id">

            <option value="1">
                Hostel Maintenance
            </option>

            <option value="2">
                Computer Lab
            </option>

            <option value="3">
                Electrical Maintenance
            </option>

        </select>


        <label>Priority</label>

        <select name="priority">

            <option>High</option>
            <option>Medium</option>
            <option>Low</option>

        </select>

        <button type="submit">
            Submit Complaint
        </button>

        <a href="/" class="back-btn">← Back</a>

    </form>

</div>

</body>
</html>